<html>
<title>首页</title>

<body bgcolor="#d0d0d0">     
<!body background="E:\web2\html\page_1\1.gif">
  
<img src="E:\web2\html\page_1\u1.png" width="380" height="190" 
     style="position:absolute; left:460px;"/>

<form action="__URL__/login" method="post"
      style="position:absolute; left:500px; top:240px"/>
  <p style="font-size:150%">身份证:   <input type="text" name="user"       style="width:200px; height:30px;" /> </p>
  <p style="font-size:150%">密码:  <input type="text" name="password"   style="width:200px; height:30px;  position:absolute; left:96px "/> </p>
  <input type="submit" value="登  陆" style="width: 300px; height: 40px;" />
</form>

</body>
</html>