<!DOCTYPE html登陆>
<html>
<title>Page 2</title>

<body bgcolor="#d0d0d0">   
<table width="1305" height="70" border="0">
<tr> <td style="background-color:#99bbbb;  "> </td> </tr>
</table>

<form action="E:\web2\html\page4.html" method="get"
      style="position:absolute; left:900px; top:100px"/>
 <input type="submit" value="预约" style="width: 80px; height: 50px;" />
</form>

<style> 
body{text-align:center} 
</style> 

<table border="1" cellpadding="0" cellspacing="0" width="100%">
<tr>
<th width="240" height="100" colspan="3" style="font-size:18px;text-align:center"><h2>预约状态</h2></th>
</tr>
<tr>
<td width="80" height="80" style="font-size:18px;text-align:center">时间</td>
<td width="80"  height="80"style="font-size:18px;text-align:center">预约医生</td>
<td width="80" height="80" style="font-size:18px;text-align:center">状态</td>
</tr>

<tr>
<td height="50"style="font-size:18px;text-align:center">1</td>
<td height="50"></td>
<td height="50"></td>
</tr>
<tr>
<td height="50"style="font-size:18px;text-align:center">2</td>
<td height="50"></td>
<td height="50"></td>
</tr>
</table>
 
   
</body>
</html>